/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.game__canvas {
    z-index: 1;
    position: fixed;
    top: 70px;
    bottom: 40px;
    border: 1px solid #d3d3d3;
}

.game__header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: top;
    padding-top: 16px;
}

.game__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 38px;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.player-score__container,
.player-position__container,
.player-energy__container {
    color: #999;
    margin: 0 12px;
    text-transform: lowercase;
    text-align: left;
    font-size: 12px;
}
.player-score__container > *,
.player-position__container > *,
.player-energy__container > * {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.game__button-restart {
    background: #fee133;
    color: #000;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    z-index: 1000;
    border: none;
    margin: 0;
    cursor: pointer;
    flex-grow: 1;
}
.game__button-menu {
    background: #fee133;
    color: #000;
    font-size: 18px;
    line-height: 38px;
    font-weight: bold;
    height: 40px;
    z-index: 1000;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    margin: 0;
}

.menu__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: #000;
    z-index: 1000;
}

.menu__modal {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    z-index: 40000;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu__info {
    margin: 0;
    padding: 12px;
    flex-grow: 1;
    overflow: auto;
    font-size: 20px;
}

.menu__info p {
    text-transform: none;
}

.menu__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.menu__footer > * {
    margin: 2px;
}